[include]
        path = ~/.gitconfig.local

[color]
        diff = auto
        status = auto
        branch = auto
        ui = true

[core]
        # Use custom `.gitignore` and `.gitattributes`
        excludesfile = ~/.gitignore
        attributesfile = ~/.gitattributes

        editor = nano
        filemode = false
        anw = !git diff -U0 -w --no-color -- \"$@\" | git apply --cached --ignore-whitespace --unidiff-zero "#"
        autocrlf = input

        # Treat spaces before tabs and all kinds of trailing whitespace as an error
        # [default] trailing-space: looks for spaces at the end of a line
        # [default] space-before-tab: looks for spaces before tabs at the beginning of a line
        whitespace = cr-at-eol,space-before-tab,-indent-with-non-tab,trailing-space

        # Prevent showing files whose names contain non-ASCII symbols as unversioned.
        # http://michael-kuehnel.de/git/2014/11/21/git-mac-osx-and-german-umlaute.html
        precomposeunicode = false

[help]
	# Automatically correct and execute mistyped commands
	autocorrect = 1

[merge]
	# Include summaries of merged commits in newly created merge commit messages
	log = true

[push]
	# Use the Git 1.x.x default to avoid errors on machines with old Git
	# installations. To use `simple` instead, add this to your `~/.extra` file:
	# `git config --global push.default simple`. See http://git.io/mMah-w.
	default = matching
        # Make `git push` push relevant annotated tags when pushing branches out.
        followTags = true