# Ignore everything
*

# But not these files and folders...
!.gitignore

# ...even if they are in subdirectories
!*/.gitkeep

# Ignore all files named .DS_Store or ending with .log
**/.DS_Store
**/Thumbs.db
**/desktop.ini
**/*.bak
**/_bak
**.log
