{
  "newUserSetup": {
    "askedAboutBugReporting": true,
    "askedAboutAnalytics": true
  },
  "optIntoBugReporting": false,
  "optIntoAnalytics": false,
  "ui": {
    "showToolbarLabels": false,
    "wideLayout": true
  }
}
